!.vscode/extensions.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
!/log/.keep
!/public/system/.keep
!/storage/.keep
!/tmp/.keep
**/doc/api/
**/ios/Flutter/.last_build_id
*.68kf
*.a
*.class
*.coverage
*.d
*.d.ts
*.dll
*.dylib
*.dyn_hi
*.dyn_o
*.egg-info/
*.eventlog
*.exe
*.fasl
*.fasl.*
*.hi
*.hie
*.hpf
*.iml
*.import
*.ipr
*.iws
*.jks
*.key
*.lib
*.local
*.log
*.mobileprovision
*.njsproj
*.ntvs*
*.o
*.orig.*
*.out
*.p12
*.p8
*.pem
*.pm_to_blib
*.ppcf
*.prof
*.pyc
*.pyd
*.pyo
*.py[cod]
*.sln
*.so
*.sparcf
*.stories.*
*.suo
*.svelte-kit
*.sw?
*.swo
*.swp
*.tsbuildinfo
*.ufasl
*.x86f
*.~*
.atom/
.build/
.buildlog/
.bundle
.byebug_history
.cabal/
.cache/
.dart_tool/
.DS_Store
.eggs/
.env
.env*
.env*.local
.env.*.local
.env.backup
.env.local
.env.local*
.env.production
.eslintcache
.expo
.export/
.fleet
.flutter-plugins
.flutter-plugins-dependencies
.gitignore
.godot/
.history
.idea
.idea/
.import/
.jest/
.metro-health-check*
.next/
.nuxt/
.packages
.phpunit.cache
.phpunit.result.cache
.pnp
.pnp.*
.pnpm-debug.log*
.pub-cache/
.pub/
.pytest_cache/
.quasar
.rspec_status
.stack-work/
.svelte-kit/
.svelte/
.svn/
.swiftpm/
.thumbs.db
.venv/
.vercel
.vscode
.vscode-test
.vscode/
.vscode/*
.yarn/*
.yarnrc
/*.rbc
/.sass-cache/
/.yarn
/capybara-*.html
/config/credentials.yml.enc
/config/database.yml
/config/master.key
/config/secrets.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/db/structure.sql
/log/*
/node_modules
/node_modules/
/public/assets
/public/packs
/public/system/*
/rspec-*.txt
/spec/examples.txt
/storage/*
/tmp/*
/tmp/cache/
/yarn-error.log
android/app/debug
android/app/profile
android/app/release
app.*.map.json
app.*.symbols
auth.json
blib/
build
build/
cabal.project.local
cabal.project.local.new*
cabal.project.local.v2*
Cargo.lock
composer.lock
config/master.key
coverage
coverage/
dist
dist-newstyle/
dist-ssr/
dist/
env.bak/
env/
ENV/
esbuild.js
eslint.config.mjs
expo-env.d.ts
fastapi_env
Homestead.json
Homestead.yaml
lerna-debug.log*
logs/
Makefile.old
migrate_working_dir/
myenv
next-env.d.ts
node_modules
node_modules/
npm-debug.*
npm-debug.log
npm-debug.log*
out/
pm_to_blib
pnpm-debug.log*
public/
public/build
public/hot
public/storage
pubspec.lock
quasar.config.*.temporary.compiled*
src-capacitor/node_modules
src-capacitor/www
src-cordova/node_modules
src-cordova/platforms
src-cordova/plugins
src-cordova/www
storage/*.key
storybook-static/
target/
Thumbs.db
tmp/cache
tsconfig.json
vendor
vendor/
venv/
vsc-extension-quickstart.md
web-build
yarn-debug.*
yarn-debug.log*
yarn-error.*
yarn-error.log
yarn-error.log*
__pycache__/
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
.build/
.swiftpm/
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
.DS_Store
.AppleDouble
.LSOverride
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.swp
timeline.xctimeline
playground.xcworkspace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.lock
node_modules
.Trash-*