<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.countdown.countdownwidget">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".CountdownApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CountdownWidget"
        tools:targetApi="34">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.CountdownWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_info" />
        </receiver>
        <service
            android:name=".worker.CountdownWorker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <meta-data
            android:name="com.google.firebase.database.logHttpEnabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.database.logTag"
            android:value="CountdownWidget" />
    </application>
</manifest>